<nav class="navbar navbar-default navbar-ripe navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="icon-holder">
      <%= image_tag('cherry.png', class: "top-icon", size: "60") %>
    </div>
    <div class="navbar-header">
      <a style="color: crimson;" class="navbar-brand" href="#">Ripe</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div style="width: inherit;" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a style="color: crimson; font-weight: bold; line-height: 40px; height: 63px; margin: 0;" href="#">Join Today</a></li>

        <li class="dropdown">
          <a href="#" style="color: crimson; font-weight: bold; line-height: 40px; height: 63px; margin: 0;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Leanr More <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Get Started</a></li>
            <li><a href="#">Our Mission</a></li>
            <li><a href="#">Our Services</a></li>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="navbar-buffer"></div>


<div class="splash-main">
  <div class="container-fluid">

    <div class="message-field">
      <div class="message-board-holder">
        <h1 class="message-board">Are You Hungry?</h1>
      </div>
    </div>

    <div class="splash-search-field">
      <div class="form-holder">
        <form class="form-group">
          <input class="splash-search-input" placeholder=" Type in your zip code and find deals around you, eg. 10003">

          <input class="btn btn-warning" type="submit" value="search">
        </form>
      </div>
    </div>

  </div>
</div>




<!-- thing -->
