<div class="navbar-ripe navbar-fixed-top">
  <div class="container-fluid">

    <div class="row">

      <div class="col-md-3">
        <div class="navbar-header">
          <a style="color: crimson;" class="navbar-brand" href="/">Ripe</a>
        </div>
      </div>

      <div class="col-md-6" style="text-align: center;">
        <div class="icon-holder">
          <img class="icon-image" src="https://s3.amazonaws.com/ripe-assets/images/cherry.jpeg" alt=""/>
        </div>
      </div>

      <div class="col-md-3">
        <ul class="nav navbar-nav navbar-right">
          <li><a style="color: crimson; font-weight: bold; line-height: 40px; height: 69px; margin: 0;" href="#login">Login</a></li>
          <li><a style="color: crimson; font-weight: bold; line-height: 40px; height: 69px; margin: 0;" href="#signup">Join Today</a></li>
          <li><a style="color: crimson; font-weight: bold; line-height: 40px; height: 69px; margin: 0;" href="/mission">Our Mission</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="navbar-buffer"></div>

<div id="error-field"></div>

<div id="splash-page-backbone-field">
</div>

<div id ="splash-page-middle-section" class="row">
  <div class="container-fluid">
    <div class="col-md-4">
      <div class="intro-field">
        <%= image_tag('soup.jpg', class: "intro-pic",size: "250") %>
        <br>
        <h3>Exclusive Deals</h3>
        <br>
        <p>
          Ripe connects restaurants with customers who enjoy a good deal for dinner.  Restaurants can access Ripe's inventory management platform and update new deals nightly, so be sure to check in for new deals!
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="intro-field">
        <%= image_tag('steak.jpg', class: "intro-pic", size: "250") %>
        <br>
        <h3>Quality Food</h3>
        <br>
        <p>
          Ripe partners with reliable food industry leaders, who provide quality food to customers.  Ripe's quality standards are high so rest assured that your eco-friendly meal is not only a great deal, but will also taste great.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="intro-field">
        <%= image_tag('desert.jpg', class: "intro-pic", size: "250") %>
        <br>
        <h3>Sustainability</h3>
        <br>
        <p>
          Ripe captures excess food sources to prevent waste and to help make the food industry more sustainable.  By creating a true secondary marketplace, Ripe helps to reduce waste by increasing the meals sold and consumed nightly.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- thing -->

<div id="splash-page-footer-field">
  This is the footer field
</div>


<script>
  $(function(){
    Backbone.history.navigate("#main", {trigger: true});
  });
</script>
