<div id="corporate-page-backbone-field">
  <div id="corporate-info-header">
    <%= @corporate.id %>
  </div>
</div>

<div><a rel="nofollow" data-method="delete" href="<%= api_sessions_url %>">Sign Out</a></div>
