<div id="corporate-page-backbone-field">
  <div id="corporate-info-header">
    <%= @corporate.id %>
  </div>
</div>
<input type="filepicker" data-fp-apikey="AemVmvogSsSDQVjTNCjOXz"
onchange="alert(event.fpfile.url)">
<input type="datetime-local">
