<nav class="navbar-fixed-top"></nav>
<h1>this is the dashboard page for restaurant</h1>

<%= @corporate.corporate_name %>
<%= @corporate.email %>

<div><a rel="nofollow" data-method="delete" href="<%= api_sessions_url %>">Sign Out</a></div>
