/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 html{
   height: 100%;
   width: 100%;
 }

 h1, h2, h3, h4, h5, .btn {
   font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
 }

 body {
   position: relative;
 }

 textarea {
   resize: none;
 }

 #ripe-overlay-field-master{
   position: absolute;
   height: 100%;
   width: 100%;
 }

 * {
   font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
 }

 body{
   overflow-x: hidden;
 }

 #main-navbar-field{
   margin-left: auto;
   margin-right: auto;
   width: 1280px;
 }

 .navbar-ripe{
   height: 70px;
   background-color: white;
   border-bottom: 1px solid lightgrey;
 }

 .navbar-left-logo{
   display: inline-block;
   position: absolute;
   color: crimson;
 }

 .navbar-logo-holder{
   height: 0px;
   width: 100%;
 }

 .navbar-right-options{
   display: inline-block;
   position: absolute;
   right:30px;
 }

 .icon-holder{
   width: 100px;
   margin: 0 auto;
 }

 .icon-image{
   width: 60px;
   height: 60px;
 }

 .navbar-ripe-options{
   color: crimson;
   font-weight: bold;
   line-height: 40px;
   height: 69px;
   margin: 0;
 }

 .alert{
   border-radius: 0px;
   margin-bottom: 0px;
   text-align: left;
 }

.navbar-header{
  width: inherit;
}

 .navbar-ripe{
   height: 70px;
   width: 1280px;
  //  border-bottom: 5px solid green;
   margin-bottom: 0px;
   border-radius: 0px;
 }

 .navbar > container-fluid{
   height: 100%;
 }

 .navbar-brand {
   font-weight: bolder;
   height: 65px;
   vertical-align: middle;
   font-size: 24px;
   line-height: 40px;
   padding-left: 50px;
   color: crimson;
 }

 .icon-holder{
   position: relative;
 }

 .top-icon {
   position: absolute;
   left: 47%;
 }

.intro-field{
  padding-top: 80px;
  position: relative;
  text-align: center;
  padding-bottom: 30px;
}

 .intro-pic{
   margin: 0 auto;
 }

.navbar-right > li{
  height: 75px;
}

ul.dropdown-menu{
  padding: 0px;
}

ul.dropdown-menu > li{
  height: inherit;
}

ul.dropdown-menu > li > a{
  padding-top: 20px;
  padding-bottom: 20px;
}













































 //
