// Place all the styles related to the Corporates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#corporate-dashboard-field{
  margin: 50px;
  // border: 2px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: scroll;
}

.corporate-tabs{
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
  color: darkgreen;
}

#corporate-tab-field-main{
  height: 600px;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  overflow: scroll;
}

#corporate-tab-field-main > .row{
  width: 100%;
}

// Corporate Main Account Section

#corporate-avatar-holder{
  width: 170px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}

#change-corporate-avatar{
  width: 200px;
  margin: 0 auto;
}

#corporate-avatar{
  width: 170px;
  height: 170px;
}

#change-corporate-avatar{
  display: block;
}

#corporate-stats-row{
  text-align: center;
}

#corporate-change-address{
  width: 200px;
  margin: 0 auto;
}

#corporate-change-description-form{
  background-color: white;
}

#corporate-change-contact-form{
  background-color: white;
}

#corporate-add-address{
  width: 200px;
  margin: 0 auto;
}

.ripe-modal{
  position: absolute;
  padding-top: 200px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 500;
}

.modal-form-holder{
  padding: 50px;
  background-color: white;
}

// Corporate Menu Section
.menu-item-image{
  width: 150px;
  height: 150px;
}

// Corporate Deals Section
.deal-item-image{
  width: 150px;
  height: 150px;
}


// Corpoarte Transactions Section
























































//
