// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// css for the splash page

.btn.btn-primary{
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.navbar-buffer{
  height: 70px;
  display: block;
}

#splash-page-backbone-field{
  height: 630px;
}

#main-form-switch{
  padding-top: 10px;
  padding-bottom: 70px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 16px;
}

#main-form-switch > li.form-switch-user{
  margin-left: 100px;
}

#main-form-holder{

}

.splash-main{
  width: 100%;
  height: 630px;
  border-top: 5px solid green;
  border-bottom: 5px solid green;
}

.message-field{
  padding-top: 160px;
  padding-bottom: 15px;
  width: 100%;
}

.message-board-holder{
  width: 700px;
  margin: 0 auto;
  text-align: center;
  color: darkgreen;
}

.message-board{
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.splash-search-field{
  width: 100%;
}

.form-holder{
  width: 900px;
  margin: 0 auto;
}

.splash-search-field{
}

.splash-search-input{
  display: inline-block;
  width: 800px;
  padding: 0px;
  height: 40px;
}

.signup-side-pic{
  margin: 0 auto;
  position: relative;
  width: 300px;
  height: 300px;
  background-image: url("http://bridgewaterchiropractic.com/clients/11113/images/Smoothie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.signup-image{
  width: 75px;
  height: 75px;
}

// ALl the footer stuff
#splash-page-footer-field{
  border-top: 1px solid lightgrey;
}
