<div class="container">
  <div class="row">
    <br>
    <div id="past-transactions-holder">
      <div class="list-group">
        <% transactions.forEach(function(transaction){ %>
          <div class="list-group-item">
            <% var user = transaction.attributes.user %>
            <h5><%= user.username %> bought the following deals</h5>
            <% var deals = transaction.attributes.deals %>
            <ul>
              <% deals.forEach(function(deal){ %>
                <li><%= deal.deal_title %> at price: <%= deal.price %>, <%= deal.least_price %></li>
              <% }) %>
            </ul>
            <button class="refund-deal">Refund This Transaction</button>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
