<div class="row">
  <div class="container">
    <form id="corporate-change-description-form">
      <fieldset>
        <h2>Change the Description for Your Restaurant</h2>

        <textarea name="corporate[description]"></textarea>
        <button id="close-modal-button">cancel</button>
        <input type="submit" val="submit">
      </fieldset>
    </form>
  </div>
</div>
