<div class="row">
  <div class="container">

    <form id="corporate-change-contact-form">
      <h2>Change your corporate contact</h2>
      <input type="text" name="corporate[corporate_contact]">
      <button id="close-modal-button">cancel</button>
      <input type="submit" val="submit">
    </form>
  </div>
</div>
