<ul class="nav nav-tabs">
  <li class="corporate-tabs" id="corporate-info-tab"><a class="signup-tab-link" href="#" data-toggle="tab" aria-expanded="false">My Account</a></li>
  <li class="corporate-tabs" id="menu-tab"><a class="signup-tab-link" href="#" data-toggle="tab" aria-expanded="false">Menu</a></li>
  <li class="corporate-tabs" id="active-deals-tab"><a class="signup-tab-link" href="#" data-toggle="tab" aria-expanded="false">Active Deals</a></li>
  <li class="corporate-tabs" id="past-transactions-tab"><a class="signup-tab-link" href="#" data-toggle="tab" aria-expanded="false">Past Transactions</a></li>
</ul>

<div id="corporate-tab-field-main"></div>
