<div class="row">
  <div class="container">
    <div class="modal-form-holder">

      <form id="corporate-change-contact-form">
        <h2>Change your corporate contact</h2>
        <hr>
        <div class="row">
          <div class="col-md-6" style="text-align: center; font-size: 24px; font-weight: bold;">
            New Contact
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" name="corporate[corporate_contact]">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12" style="text-align: center;">
            <input class="btn btn-success" type="submit" value="Change Contact" style="text-transform: capitalize;">
            <span>&nbsp&nbsp&nbsp</span>
            <button class="btn btn-danger" id="modal-close-button">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
