<div class="container">
  <div class="row">

    <div id="past-transactions-holder">
      <div class="list-group">
        <% transactions.forEach(function(transaction){ %>
          <div class="list-group-item">
            <% var user = transaction.attributes.user %>
            <h1><%= user.username %></h1>
            <button>Cleared</button>
            <button>Cancel</button>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
