<div class="container">
  <div class="row">
    <br>
    <div id="past-transactions-holder">
      <div class="list-group">
        <% transactions.forEach(function(transaction){ %>
          <div class="list-group-item">
            <% var user = transaction.attributes.user %>
            <p><%= user.username %></p>
            <button class="close-deal">Close Transaction</button>
            <button class="refund-deal">Refund</button>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
