<div class="row">
  <div class="container-fluid">

    <div class="footer-section col-md-3">
      <h4>COMPANY</h4>
      <a class="footer-link">Contact Us</a>
      <a class="footer-link">Our Services</a>
      <a class="footer-link">How It Works</a>
      <a class="footer-link">Careers</a>
      <a class="footer-link">Affiliates</a>
    </div>

    <div class="footer-section col-md-3">
      <h4>STORIES</h4>
      <a class="footer-link" href="/mission">Mission</a>
      <a class="footer-link">Testimonies</a>
    </div>

    <div class="footer-section col-md-3">
      <h4>HELP</h4>
      <a class="footer-link">FAQs</a>
      <a class="footer-link">Corporate Inquiry</a>
      <a class="footer-link">Customer Services</a>
    </div>

    <div class="footer-section col-md-3">
      <h4>SOCIAL MEDIA</h4>
      <a class="footer-link">Facebook</a>
      <a target="_blank" href="https://twitter.com/TheRealRipe" class="footer-link">Twitter</a>
      <a target="_blank" href="https://www.instagram.com/ripeats/" class="footer-link">Instagram</a>
    </div>
  </div>
</div>
