<div class="container-fluid">

  <div class="message-field">
    <div class="message-board-holder">
    </div>
  </div>

  <div class="splash-search-field">
    <div class="form-holder">
      <form id="splash-search-form" class="form-group">
        <input class="splash-search-input" name="search" placeholder=" Type in your zip code and find deals around you, eg. 10003"/>

        <input class="btn btn-warning" type="submit" value="search"/>
      </form>
    </div>
  </div>

</div>
