<form id="new-user-form" class="form-horizontal col-lg-8">
  <fieldset>

    <div class="signup-form-information">
      <h1>Sign Up for a Ripe Account!</h1>
      <p>Start enjoying the full Ripe experience today.</p>
      <br>
    </div>

    <ul class="nav nav-tabs">
      <li class="active form-switch-user col-lg-4"><a class="signup-tab-link" href="#" data-toggle="tab" aria-expanded="false"  style="font-size: 20px;">I'm a User</a></li>
      <li class="form-switch-restaurant col-lg-4"><a class="signup-tab-link" href="#" data-toggle="tab" aria-expanded="true"  style="font-size: 20px;">I'm a Restaurant</a></li>
    </ul>
    <br>

    <div class="form-group">
      <label class="col-lg-3 control-label">Username</label>
      <div class="col-lg-7">
        <input class="form-control" name="user[username]" type="text" placeholder="Input a Username, e.g. BananaLovingMonkey">
      </div>
      <br>
    </div>

    <div class="form-group">
      <label class="col-lg-3 control-label">Email</label>
      <div class="col-lg-7">
        <input class="form-control" name="user[email]" type="text" placeholder="Input your email, e.g. CherryTree@ripe.com">
      </div>
      <br>
    </div>

    <div class="form-group">
      <label class="col-lg-3 control-label">Password</label>
      <div class="col-lg-7">
        <input class="form-control" name="user[password]" type="password" placeholder="Select your password">
      </div>
      <br>
    </div>

    <div class="form-group">
      <label class="col-lg-3 control-label">Verify Password</label>
      <div class="col-lg-7">
        <input class="form-control" name="user[password_verify]" type="password" placeholder="Verify your password">
      </div>
      <br>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-3">
        <button type="submit" class="btn btn-success">&nbsp&nbspSignup Today!&nbsp&nbsp</button>
      </div>
    </div>

  </fieldset>
</form>

<div class="col-lg-5">
  <div class="signup-side-pic">

  </div>
</div>
