<form class="form-horizontal col-lg-7">
  <fieldset>

    <ul class="nav nav-tabs">
      <li class="active form-switch-user col-lg-3"><a href="#" data-toggle="tab" aria-expanded="false">Signup as User</a></li>
      <li class="form-switch-restaurant col-lg-4"><a href="#" data-toggle="tab" aria-expanded="true">Signup as Restaurant</a></li>
    </ul>
    <br>

    <div class="form-group">
      <label class="col-lg-3 control-label">Username</label>
      <div class="col-lg-7">
        <input class="form-control" type="text" placeholder="Input a Username, e.g. BananaLovingMonkey">
      </div>
      <br>
    </div>

    <div class="form-group">
      <label class="col-lg-3 control-label">Email</label>
      <div class="col-lg-7">
        <input class="form-control" type="text" placeholder="Input your email, e.g. CherryTree@ripe.com">
      </div>
      <br>
    </div>

    <div class="form-group">
      <label class="col-lg-3 control-label">Password</label>
      <div class="col-lg-7">
        <input class="form-control" type="password" placeholder="Select your password">
      </div>
      <br>
    </div>

    <div class="form-group">
      <label class="col-lg-3 control-label">Verify Password</label>
      <div class="col-lg-7">
        <input class="form-control" type="password" placeholder="Verify your password">
      </div>
      <br>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-3">
        <button type="submit" class="btn btn-primary">Signup Today!</button>
      </div>
    </div>

  </fieldset>
</form>

<div class="col-lg-5">
  <div class="signup-side-pic">

  </div>
</div>
