<div class="row">
  <div class="container">
    <div class="modal-form-holder">
      <form id="signup-form">
        <h2 style="text-align: center;">Sign Up for an Account</h2>
        <hr>

        <div class="row">
          <div class="col-md-6" style="text-align: center; font-weight: bold; font-size: 18px;;">
            Name
          </div>
          <div class="col-md-6">
            <input class="form-control" name="user[username]" type="text" placeholder="Input a Username, e.g. BananaLovingMonkey">
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-6" style="text-align: center; font-weight: bold; font-size: 18px;;">
            Email
          </div>
          <div class="col-md-6">
            <input class="form-control" name="user[email]" type="text" placeholder="Input your email, e.g. CherryTree@ripe.com">
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-6" style="text-align: center; font-weight: bold; font-size: 18px;;">
            Password
          </div>
          <div class="col-md-6">
            <input class="form-control" name="user[password]" type="password" placeholder="Select your password">
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-6" style="text-align: center; font-weight: bold; font-size: 18px;;">
            Confirm Password
          </div>
          <div class="col-md-6">
            <input class="form-control" name="user[password_verify]" type="password" placeholder="Verify your password">
          </div>
        </div>
        <br>

        <hr>

        <div class="row">
          <div class="col-md-12" style="text-align: center;">
            <input class="btn btn-success" type="submit" value="Sign Up">
            <span>&nbsp&nbsp&nbsp</span>
            <button class="btn btn-danger" id="modal-close-button">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
