<div class="row">
  <div class="container">
    <div class="modal-form-holder">
      <form id="login-form">
        <h2 style="text-align: center;">Log In</h2>
        <hr>

        <div class="row">
          <div class="col-md-6" style="text-align: center; font-weight: bold; font-size: 18px;;">
            Email
          </div>
          <div class="col-md-6">
            <input class="form-control" name="session[name]" type="text" placeholder="Enter your username, restaurant name, or email">
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-6" style="text-align: center; font-weight: bold; font-size: 18px;;">
            Password
          </div>
          <div class="col-md-6">
            <input class="form-control" name="session[password]" type="password" placeholder="Enter the password for your account.">
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-12" style="text-align: center;">
            <input class="btn btn-success" type="submit" value="Log In">
            <span>&nbsp&nbsp&nbsp</span>
            <button class="btn btn-danger" id="modal-close-button">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
