<div class="container">
  <br>

  <div class="list-group-item">
    <div class="row">
      <form id="search-input-form">
        <div class="col-md-9" style="text-align: center; padding: 10px;">
          <input id="search-input" type="text" class="form-control" placeholder="Input your zip code, eg. 10003" value="<%= zip_code %>">
        </div>
        <div class="col-md-3" style-"text-align: center; vertical-align: middle;">
          <input type="submit" class="btn btn-success" id="search-deals" value="Search Deals" style="margin-top: 10px; font-size: 14px;">
        </div>
      </form>
    </div>
  </div>

  <hr>

  <div id="deals-list-holder">
  </div>

</div>
