<div class="navbar-ripe navbar-fixed-top" style="z-index: 10;">
  <div class="container-fluid">
    <div class="navbar-left-logo">
      <div class="navbar-header">
        <a style="color: crimson;" class="navbar-brand" href="#">Welcome back, <span id="user-name"><%= user.attributes.username %></span>!</a>
      </div>
    </div>

    <div class="navbar-logo-holder">
      <div class="icon-holder">
        <img class="icon-image" src="https://s3.amazonaws.com/ripe-assets/images/cherry.jpeg" alt=""/>
      </div>
    </div>

    <div class="navbar-right-options">
      <ul class="nav navbar-nav navbar-right">
        <li><a id="user-deals-tab" style="color: crimson; font-weight: bold; line-height: 40px; height: 69px; margin: 0px;" href="#">Deals</a></li>
        <li><a id="user-cart-tab" style="color: crimson; font-weight: bold; line-height: 40px; height: 69px; margin: 0px;" href="#">Cart ( <span id="items-in-cart"><%= user.dealSelections().length %></span> items )</a></li>
        <li><a id="user-transactions-tab" style="color: crimson; font-weight: bold; line-height: 40px; height: 69px; margin: 0px;" href="#">Transactions</a></li>

        <% if(user.attributes.guest){ %>
          <li><a id="user-signup-tab" style="color: crimson; font-weight: bold; line-height: 40px; height: 69px; margin: 0px;" href="#">Sign Up</a></li>
          <li><a id="user-login-tab" style="color: crimson; font-weight: bold; line-height: 40px; height: 69px; margin: 0px;" href="#">Log In</a></li>
        <% }else{ %>
          <li><a id="signout-link" style="color: crimson; font-weight: bold; line-height: 40px; height: 69px; margin: 0px;" href="#">Sign Out</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</div>

<div class="navbar-buffer"></div>

<div id="error-field"></div>

<div id="user-tab-field-main"></div>
