<!DOCTYPE html>
<html>
<head>
  <title>RipeCom</title>
  <script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
