<!DOCTYPE html>
<html>
<head>
  <title>Ripe</title>
  <script type="text/javascript"
   src="//api.filepicker.io/v2/filepicker.js"></script>
   <script async defer
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_r-KGmFH17e1WMpKCvszzmlDTwE40Ax8">
   </script>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="ripe-overlay-field-master"></div>

  <%= yield %>

</body>
</html>
